.bg-container {
    background:linear-gradient(#131313,rgba(19,19,19,0),#131313) no-repeat, url('../img/cisternerne-header.jpg') top / cover no-repeat;
    height: 1000px;
}

body {
    background-color: #131313;
    color: #fff;
}

header {
    height: 80vh;
}

.header-content {
    bottom: 20px;
    right: 16px;
}

.text-ghost {
    color: #717171;
}

.opacity-low {
    background-color: #71717111 !important;
}

.w-180p {
    width: 180px;
}

@media (min-width: 768px)
{
    .md-h1 {
    font-size: 4.3rem;
    }
}
